
:root {
 --blue-color: #6c63ff;
}

button{
  cursor: pointer;
}

/* .hero-gradient-band{
background: linear-gradient(180deg, rgba(164, 233, 249, 0.4) 10.1%, rgba(88, 66, 255, 0.4) 100%);
filter: blur(150px);
  transform: rotate(-8deg);
} */

.hero-bg{
  /* overflow-x: hidden; */
   /* background-image: url("/images/hero-background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center; */
}
.hero-content::before {
  content: "";
  position: absolute;
  width:120%;
  height:350px;
  top: 40%;
  left:-15%;
  right:0;
background: linear-gradient(180deg, rgba(164, 233, 249, 0.4) 10.1%, rgba(88, 66, 255, 0.4) 100%);
  filter: blur(60px);
  transform: rotate(-10deg);
  z-index: 0;
  /* overflow: hidden; */
}
.hero-image{
  width: 700px;
  height:800px;
}
.rating {
  top:120px;
  right:2%;
}
.dashboard{
  /* width: 85%; */
}
.dashboard .left p{
font-size: clamp(0.8rem,calc(0.7rem + 0.6vw),1.2rem) !important;
}
 .dashboard-img{
width: clamp(260px,35vw,500px);
    height:clamp(344px,30vw,500px);
 }
 /* Feature section  */
 .FeatureSection{
  background: url("/images/SchoolAura.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.feature-card{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.feature-image{
   width: 800px;
   height: 800px;
}
 /* w-[55vw] h-[55vw]          
    sm:w-[400px] sm:h-[400px]
    md:w-[600px] md:h-[600px] */

.feature-1{
top:2rem;
  right:16%;
  transform: translateY(-50%);
}
.feature-2{
  top:25%;
  right: 10%;
  transform: translateY(50%);
}
.feature-3{
  bottom: 20%;
  left: 20%;
}
.feature-4{
  top: 25%;
  left:10%;
  transform: translateY(50%);
}
.software-card-1 .img{
width:270px;
height: 500px;
}
.software-card-4 .img {
  width:300px;
  height:570px;
  }
.software-card-2 .img{
  width:100%;
height: 200px;
}
.software-card-3 .img {
  width:100%;
height: 380px;
}
.testimonial-pill{
  color:var(--blue-color);
  border: 1px solid  var(--blue-color);
}
