@media (max-width: 1535px) {
   .feature-image{
   width: 700px;
   height: 700px;
}
  .feature-1{
  right:10%;
}
.feature-2{
   right: 4%;
}
.feature-4{
    left: 4%;
}
.feature-3{
  left: 15%;
}
}

@media (max-width: 1279px) {
 .feature-image{
   width: 600px;
   height: 600px;
}
 

}

/* md */
@media (max-width: 1023px) {
  .feature-image{
   width: 500px;
   height: 500px;
}
   .feature-1{
  right:10%;
}
.feature-2{
   right: -6%;
}
.feature-4{
    left: -6%;
}
.feature-3{
  left: 8%;
}
 /* .hero-section::before {
    top: 40%;
    height: 200px;
  } */
  .dashboard{
  width: 100%;
}
.dashboard-img{
width: clamp(400px,33vw,500px);
    height:clamp(365px,30vw,500px);
 }
}
@media (max-width:900px){
  .hero-image{
  width: 600px;
  height:700px;
}
.rating {
  top:120px;
  right:5px;
}
.hero-content::before {
  width:120%;
  height:300px;
  top: 40%;
  background: linear-gradient(180deg, rgba(164, 233, 249, 0.5) 20.1%, rgba(88, 66, 255, 0.5) 100%);
  filter: blur(70px);
}
 .feature-image{
   width: 450px;
   height: 450px;
}
.feature-1{
  right:20%;
}
.feature-2, .feature-4{
  top:27%;
}
.feature-3{
    bottom: 10%;
}
}
/* sm */
@media (max-width: 767px) {
   .feature-1{
  right:7%;
}
.feature-2{
   right: 2%;
}
.feature-4{
    left: 2%;
}
.feature-3{
  bottom: 15%;
}
 /* .hero-section::before {
    top: 35%;
    height: 180px;
    filter: blur(55px);
  } */
 .dashboard-img{
width:400px;
    height:400px;
 }
}

/* mobile */
@media (max-width: 639px) {
  .dashboard-img{
width:400px;
    height:400px;
 }
   .feature-1{
  right:7%;
}
.feature-2{
   right: 5%;
}
.feature-4{
    left: 5%;
}
.hero-image{
  width: 400px;
  height:450px;
}
.hero-content::before {
  width:120%;
  height:200px;
  top: 40%;
  background: linear-gradient(180deg, rgba(164, 233, 249, 0.5) 30.1%, rgba(88, 66, 255, 0.5) 100%);
  filter: blur(60px);
}
.rating {
  top:52px;
  right:-12px;
}
}
@media (max-width:576px) {
   .feature-1{
  top: 1%;
  right: 2%;
  transform: translateY(-60%);
}
.feature-3{
  left:7%;
  bottom: 10%;
}
 .dashboard-img{
width:300px;
    height:300px;
 }

}

/* ⬇ Mobile */
@media (max-width: 480px) {
  /* .hero-section::before {
    top: 30%;
    height: 100px;
    filter: blur(35px);
  } */
  .dashboard-img{
width:75vw;
    height:72vw;
 }
 .hero-image{
  width: 300px;
  height:340px;
}
.hero-content::before {
  width:120%;
  height:170px;
  top: 40%;
  background: linear-gradient(180deg, rgba(164, 233, 249, 0.5) 20.1%, rgba(88, 66, 255, 0.5) 100%);
  filter: blur(40px);
}
.rating {
  top:22px;
  right:-51px;
  
}
}
@media (max-width: 400px) {
  .rating {
     top:10px;
  right:-5px;
max-width:130px !important;
  }
}